
<!-- Author: Get tweets: Deesha Desai
Delete Tweet: Priyanka Devendra -->
<div class="container-fluid" style="padding:0">
<mat-toolbar color="primary">
    <span class="p-1">Twitter Service</span>
</mat-toolbar>

<div class="row m-3">
    <div class="col-md-10 col-12"><h3>Recent Tweets</h3></div>
    <div class="col-12 col-md-2"><button mat-raised-button color="primary" (click)="postTweet()">Post Tweet</button></div>
</div>
    
<div class="row mx-3">
<mat-card class="example-card col-md-3 m-3" *ngFor="let tweet of tweets">
    <mat-card-content>
      <p style="font-style: italic;">
        "{{tweet.text}}"
      </p>
      <div><strong>Posted by: </strong><span>{{tweet.user.name}}</span></div>
      <span><strong>Date: </strong>{{tweet.created_at | date:'medium'}}</span>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="warn" (click)="deleteTweet(tweet.id_str)">Delete</button>
    </mat-card-actions>
  </mat-card>
</div>
</div>